<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smile_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,100},{36,34}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,44},{36,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>smile_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,100},{36,34}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,44},{36,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>smile_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{36,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,45},{36,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>smile_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,64},{36,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,45},{36,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>smile_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,64},{36,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,45},{36,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>smile_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{36,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,45},{36,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wake_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{38,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,50},{38,28}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wake_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{38,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,50},{38,28}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wake_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,50},{38,28}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wake_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,50},{38,28}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wake_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,32},{38,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,48},{38,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wake_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,32},{38,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,48},{38,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wake_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,100},{36,34}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,44},{36,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{136,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb151d365b7cf0755c4e39aef4a3a1b0$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
