<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_rast.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{302,292}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,109},{302,292}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{466,448}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,35},{466,448}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>eye_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,586},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>eye_1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,498},{54,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,86}}</string>
                <key>sourceSize</key>
                <string>{56,88}</string>
            </dict>
            <key>eye_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,600},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>eye_2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,522},{52,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,86}}</string>
                <key>sourceSize</key>
                <string>{52,88}</string>
            </dict>
            <key>m0.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,470},{26,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>m1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,576},{56,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>m2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,498},{88,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,22}}</string>
                <key>sourceSize</key>
                <string>{88,24}</string>
            </dict>
            <key>m3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,470},{118,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,26}}</string>
                <key>sourceSize</key>
                <string>{120,28}</string>
            </dict>
            <key>m4.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,586},{150,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,30}}</string>
                <key>sourceSize</key>
                <string>{152,32}</string>
            </dict>
            <key>mouth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,470},{26,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magnetic.png</string>
            <key>size</key>
            <string>{452,764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00e864a7cb6346a45be6efff79e0e941$</string>
            <key>textureFileName</key>
            <string>magnetic.png</string>
        </dict>
    </dict>
</plist>
