<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wallpixel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,34},{88,14}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{88,14}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wallpixel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,34},{90,22}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{90,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wallpixel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{92,36}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{92,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wallpixel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,34},{92,34}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{92,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wallpixel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,30}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{98,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wallpixel.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b89f9abeb076e98bc83f23954f25b7fb$</string>
            <key>textureFileName</key>
            <string>wallpixel.png</string>
        </dict>
    </dict>
</plist>
