<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>l_yball.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{9,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,12}</string>
            </dict>
            <key>ly_iris.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,0},{3,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,4}}</string>
                <key>sourceSize</key>
                <string>{3,4}</string>
            </dict>
            <key>m_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,0},{5,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,3}}</string>
                <key>sourceSize</key>
                <string>{5,3}</string>
            </dict>
            <key>m_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,0},{7,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,3}}</string>
                <key>sourceSize</key>
                <string>{7,3}</string>
            </dict>
            <key>m_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,12},{9,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,4}}</string>
                <key>sourceSize</key>
                <string>{9,4}</string>
            </dict>
            <key>m_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,12},{11,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,4}}</string>
                <key>sourceSize</key>
                <string>{11,4}</string>
            </dict>
            <key>m_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,16},{13,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,4}}</string>
                <key>sourceSize</key>
                <string>{13,4}</string>
            </dict>
            <key>m_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,16},{15,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,5}}</string>
                <key>sourceSize</key>
                <string>{15,5}</string>
            </dict>
            <key>mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,16},{4,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,3}}</string>
                <key>sourceSize</key>
                <string>{4,3}</string>
            </dict>
            <key>mouth_smile.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,21},{17,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,5}}</string>
                <key>sourceSize</key>
                <string>{17,5}</string>
            </dict>
            <key>ry_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{9,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,12}</string>
            </dict>
            <key>ry_iris.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,0},{3,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,4}}</string>
                <key>sourceSize</key>
                <string>{3,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{32,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d71cdb415a962de816b102dc5e986ea4$</string>
            <key>textureFileName</key>
            <string>test.png</string>
        </dict>
    </dict>
</plist>
